<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<br>
<a href="/logout">logout</a>
<br><br>
 <form action="create_article", method="post",enctype="multipart/form-data">
     {% csrf_token %}
     Write your article<input type="text" name="description" placeholder="description"><br>
     Choose the file<input type="file" name="image" accept="image/x-png,image/gif,image/jpeg" /><br>
     Check if private<input type="checkbox" name="private"><br>
     <input type="submit" >
 </form>
 </form>

</body>
</html>