<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/logout">logout</a><br>
<br>
<a href="/create_article">click to create an article</a>
<div>
    <h1>Your articles are:</h1>
    {% for i in user_articles %}
    {{i.description}}<hr>
    {% endfor %}
    <hr>
</div>
<form action="" , method="post">
    {% csrf_token %}
    Please enter username to search for their articles<input type="text" name="username">
    <input type="submit"><br>
</form>
<div>
    {% if flag is 1%}
    <hr>
    {% else %}
    <h3>Public articles of {{username}} are </h3>
    {% for i in public_articles %}
    {{i.description}}<hr>
    {% endfor %}
    {% endif %}
    {% with 1 as flag %}
    {% endwith%}

</div>
</body>
</html>